.main-conn {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(69, 86, 102) 0%,
    rgb(34, 34, 34) 90%
  );
  min-height: 100vh;
  /* height: auto !important; */
  /* height: 100%; */
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
}
.header-rp {
  display: flex;
  gap: 20rem;
  justify-content: space-around;
  align-items: center;
  padding-top: 1rem;
}
.contact-img {
  width: 3rem;
  height: 2.5rem;
  color: white;
}
.img-container {
  padding-top: 2rem;
  text-align: center;
}
.heading-rp {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  padding: 1rem 0;
}
.container-rp {
  display: flex;
  flex-direction: column;
  gap: 2.7rem;
}
.first-rp,
.second-rp {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  font-size: 1.3rem;
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
}
.input-email {
  width: 20vw;
  padding: 0.7rem 1rem;
  font: 1.2rem "Roboto", sans-serif;
  background-color: whitesmoke;
  border-radius: 2rem;
}
.input-box-rp {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  text-align: center;
}
.button {
  width: 20%;
  border: 0;
  padding: 0.7rem 1rem;
  font: 1.2rem "Roboto", sans-serif;
  border-radius: 2rem;
  background-color: rgb(238, 234, 234);
}
.error-msg1 {
  width: 20vw;
  position: absolute;
  color: whitesmoke;
  top: 3.2rem;
  left: 0rem;
}
.error-icon {
  position: absolute;
  color: red;
  top: 1rem;
  right: 1rem;
}
.diuvum-rp {
  cursor: pointer;
}
