.heading-sp{
    text-transform:uppercase;
    font-weight: bold;
    font-size: 2rem;
    padding: 7rem 0 2rem 0;
    text-align: center; 
}
.name-sp{
    font : 1.5rem "Roboto", sans-serif
}
.main-sp{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    justify-content: center;
}
.submit-button{
    width: 10%;
    padding: 0.8rem 0;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    border: 0;
    background-color:rgb(199, 235, 199);
}
.submit-button:active{
    font-size: 1rem;
    padding: 0.6rem 0;
}